{
	"CALL": "",
	"GRID": "",
	"ALL_BAND_DEFAULTS": {
	},
	"BANDS": {
		"160": {},
		"80": {},
		"60": {},
		"40": {},
		"30": {},
		"20": {},
		"17": {},
		"15": {},
		"12": {},
		"10": {}
	},
	"HOPPING_SCHEDULE": []
}
