[connection]
id=default
uuid=a9cdf4c9-ee8c-48e7-8a3d-9962a9e0e1cb
type=wifi
interface-name=wlan0
permissions=

[wifi]
mac-address-blacklist=
mode=infrastructure
ssid=ENTER YOUR WIFI SSID HERE

[wifi-security]
key-mgmt=wpa-psk
psk=ENTER YOUR WIFI PASSWORD HERE

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto

[proxy]
